<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cwise.justcheck">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcherr"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcherr_round"
        android:supportsRtl="true"
        android:theme="@style/NoBarTheme.Light">
        <activity
            android:name=".YtPlayerActivity"
            android:exported="true" />
        <activity
            android:name=".VideoFilesActivity"
            android:exported="true"
            android:theme="@style/Theme.JustCheck" />
        <activity
            android:name=".FourthActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.JustCheck" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>